<!-- searchbar -->

<div class="banner pullDown" id="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/tHF1OBF/4k-organized-criminal-gangsters-in-dark-parking-lot-doing-a-drug-deal_h7fugeodye_thumbnail-full01.png');">
  <div class="banner-content">
    <h1>Book a service</h1>
    <p>Find the right man for the job</p>





    <%= form_tag services_path, method: :get, remote: true do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        placeholder: "Find a Service"
        %>
    <% end %>
    </div>

  </div>

<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/tHF1OBF/4k-organized-criminal-gangsters-in-dark-parking-lot-doing-a-drug-deal_h7fugeodye_thumbnail-full01.png');">
  <div class="banner-content">
    <h1>Book a service</h1>
    <p>Find the right man for the job</p>
    <h4 class="text-center"><input type="text" placeholder="Search a job"> </h4>
  </div>
</div> -->


  <!-- cardlist -->


  <div class="container">
    <div class="row" id="services-cards">
      <% @services.each do |service| %>


          <%= render 'card', service: service %>

    <% end %>
  </div>
</div>


