// .banner-{
//  position: absolute;
// }

.avatars {
  // position: relative;
  left: 190px;
  bottom: 90px;
  border-radius: 50px;
  display: flex;
  margin-left:170px;
  margin-top:10px;

}
.card-about {
  position: relative;
  text-align: text-center;
  padding-right: 200px;
}
.card-hover{
  transition:15ms;
}
.avatar{
  padding-left: 5px;
}
.banner-2 {
  height :100vh;
  background-repeat: no-repeat;
  width: 75%;
  opacity: 70%;
}
.banner-2,h1{
  color:#D9DDDD;
}


