

// .wrapper{
//   background-color: #964444;
//   height: 300px;
//   width: 100vw;
//   color: white;
// }


.service-reviews{
  background-color: lightgrey;
  color: black;
  .service-review{
    border: 1px dotted darkgrey;
  }
}
