

<div class="about-title">
<h1>About us</h1>

</div>
<div id="titles">
  <div id="titlecontent">
    <div class="avatars-about">
      <p>
        <div class="avatar-about">
          <%= image_tag("fotopp.jpg", size: "300x300", class: 'avatar-about') %>
        </div>
      </p>
      <p>
        <div class="avatar-about">
         <%= image_tag("https://files.slack.com/files-pri/T02NE0241-F9UA2HRS7/rb.jpg", size: "300x300", class: 'avatar-about') %>
       </div>
     </p>
     <p>
       <div class="avatar-about">
         <%= image_tag("https://ca.slack-edge.com/T02NE0241-U939Q8KR7-160c90d65b5d-512", size: "300x300", class: 'avatar-about') %>
       </div>
     </p>
   </div>

  <p>
    We are a team of programmers from LeWagon Brussels.
     This is a project for our class on the batch #133   2018.
     We like coding but we also love life! Hiking, Surfing..etc. Hope you enjoy our first work together!
  </p>

  </div>
</div>







